<!DOCTYPE html>
<html lang="en"  xmlns:th="http:/thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html5">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Article Management System</title>
  <!-- Bootstrap core CSS-->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<div th:replace="admin/fragment/header :: header"></div>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="/admin/list_article"><button type="button" class="btn btn-primary">[[#{back}]]</button></a></li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header bg-primary">
          <i class="fa fa-form">View Article</i> </div>
        <div class="card-body">
            <div class="container" th:object="${article}">
              <div class="row">
                <div class="col-md-6" >
                  <div class="col-md-5 order-md-1">
                    <img th:src="${article.getThumbnail()}" class="featurette-image img-fluid mx-auto" alt="Generic placeholder image">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4" style="color: green">Title :</div>
                      <h4 style="font-size: 20px; color: indianred; font-style:initial;" th:text="*{title}"></h4>
                    </div>
                    <h1></h1>
                    <div class="row">
                      <div class="col-md-4" style="color: green">Category Name:</div>
                      <div class="col-md-6"><p th:text="*{category.name}"></p></div>
                    </div>
                    <h1></h1>
                    <div class="row">
                      <div class="col-md-4" style="color: green">Author :</div>
                      <div class="col-md-6"><p th:text="*{author}"></p></div>
                    </div>
                    <h1></h1>
                    <div class="row">
                      <div class="col-md-4" style="color: green">Import Date:</div>
                      <div class="col-md-4"><p th:text="*{importDate}"></p></div>
                    </div>
                    <h1></h1>
                    <div class="row">
                      <div class="col-md-4" style="color: green">Description :</div>
                      <div class="col-md-4"><p th:text="*{desc}"></p></div>
                    </div>
                </div>
                </div>
              </div>
        </div>
        <div class="card-footer small text-muted">Updated at 00:00:00</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <div th:replace="admin/fragment/footer ::footer "></div>
  </div>
</body>

</html>
