<!DOCTYPE html>
<html lang="en"  xmlns:th="http:/thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Article Management System</title>
  <!-- Bootstrap core CSS-->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!---->
  <div th:replace="admin/fragment/header :: header"></div>
<!---->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="/admin/add_category"><button type="button" class="btn btn-primary">[[#{addarticle}]]</button></a></li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>List Article</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th th:text="#{id}"></th>
                  <th th:text="#{category}">CategoryName</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="category : ${category}">
                  <td th:text="${category.id}"></td>
                  <td th:text="${category.name}"></td>
                  <td>

                    <a th:href="@{/admin/update_category/{id}(id=${category.id})}"><button type="button" class="btn btn-secondary" th:text="#{update}">Update</button></a>
                    <a th:href="@{/admin/delete_category/{id}(id=${category.id})}"><button type="button" class="btn btn-success" th:text="#{delete}" >Delete</button></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated at 00:00:00</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <div th:replace="admin/fragment/footer :: footer"></div>
    <!--////-->
  </div>
</body>

</html>
