<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav" th:fragment="header">
    <a class="navbar-brand" href="" th:text="#{m}">Article Managment System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                    <span class="nav-link-text">[[#{article}]]</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents">
                    <li>
                        <a href="/admin/list_article">[[#{listarticle}]]</a>
                    </li>
                    <li>
                        <a href="/admin/add_article">[[#{addarticle}]]</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                    <span class="nav-link-text">[[#{category}]]</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                    <li>
                        <a href="/admin/list_category">[[#{listcategory}]]</a>
                    </li>
                    <li>
                        <a href="add_category">[[#{addcategory}]]</a>
                    </li>
                </ul>
            </li>

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a src="" class="nav-link" href="?lang=en" >
                    <i class="fa fa-fw fa-sign-out"></i>[[#{en}]]
                </a>
            </li>
            <li class="nav-item">
                <a href="?lang=kh"  class="nav-link"  >
                    <i class="fa fa-fw fa-sign-out"></i>[[#{kh}]]
                </a>
            </li>

        </ul>
    </div>
</nav>